.countries {
  margin-top: 2em;

  .countries-filters {
    margin-bottom: 2em;

    .search-wrapper {
      position: relative;
      max-width: 450px;
      @media only screen and (max-width: 40em) {
        margin-bottom: 30px;
      }
      .search-input {
        width: 100%;
        display: inline-block;
        max-width: 450px;
        outline: none;
        padding: 0 50px;
        background: var(--bg-elements);
        box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 5px 0px;
        border: 0;
        color: var(--color-input);
        height: 45px;
        border-radius: 5px;
        white-space: normal;
        vertical-align: middle;
        -webkit-appearance: none;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
          background 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
        &::placeholder {
          font-size: 12px;
          font-weight: 600;
        }
        &:focus {
          box-shadow: hsl(0, 0%, 72%) 0px 0px 5px 0px;
        }
      }

      .search-submit,
      .search-reset {
        width: 45px;
        height: 45px;
        cursor: pointer;
        background-color: transparent;
        position: absolute;
        padding: 0;
        border: 0;
        margin: 0;
        text-align: center;
        font-size: inherit;
        user-select: none;
        svg {
          width: 18px;
          height: 18px;
          vertical-align: middle;
          fill: var(--color-input);
        }
      }
      .search-submit {
        top: 0px;
        right: inherit;
        left: 0px;
        border-radius: 5px 0 0 5px;
      }
      .search-reset {
        top: 0px;
        left: inherit;
        right: 0px;
        svg {
          fill: var(--color-input);
          width: 12px;
          height: 12px;
        }
        &:hover {
          svg {
            fill: var(--color-input);
          }
        }
        &:focus {
          outline: 0px;
        }
      }
    }

    .select-region {
      position: relative;
      width: 100%;
      display: inline-block;
      vertical-align: middle;
      text-align: left;
      background: transparent;
      user-select: none;
      font-size: 12px;
      z-index: 10;
      span {
        display: block;
        position: relative;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .cs-placeholder {
        padding: 0 15px;
        height: 45px;
        border-radius: 5px;
        line-height: 45px;
        font-weight: 600;
        background: var(--bg-elements);
        box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 5px 0px;
      }
      .cs-options {
        display: block;
        position: absolute;
        width: 100%;
        top: 50px;
        cursor: pointer;
        padding: 10px 0;
        overflow: hidden;
        border-radius: 5px;
        background: var(--bg-elements);
        box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 5px 0px;
        transition: opacity 0.2s, visibility 0s 0.2s;
        opacity: 0;
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          width: 100%;
          li {
            margin-bottom: 0;
            padding: 0 15px;
            &:hover {
              background: var(--bg-color);
            }
          }
        }
      }
      select {
        display: none;
      }
    }

    .select-selected {
      background: #ffffff;

      &:after {
        position: absolute;
        content: "";
        top: 0;
        width: 0;
        height: 0;
        border: 0;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 5px 0px;
      }
    }
  }

  .countries-list {
    a {
      color: inherit;
      text-decoration: none;
    }
    .country {
      &-box {
        background: var(--bg-elements);
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 10px 0px;
        box-sizing: border-box;
        overflow: hidden;
        margin: 0 auto;
        margin-bottom: 3em;
        max-width: 290px;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
          background 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
        &:hover {
          box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px 0px;
        }
      }
      &-flag {
        min-height: 176.69px;
        overflow: hidden;
        position: relative;

        > div {
          background-position: center center;
          background-size: cover;
          height: 100%;
          width: 100%;
          position: absolute;
        }
      }
      &-info {
        padding: 24px;

        &-name {
          font-size: 16px;
          margin-bottom: 15px;
        }
        &-infos {
          font-size: 14px;
          margin: 0;
        }
      }
    }
  }
}
