.select-box {
  position: relative;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  background: transparent;
  user-select: none;
  font-size: 12px;
  z-index: 10;
  &--container {
    padding: 0 15px;
    height: 45px;
    border-radius: 5px;
    line-height: 45px;
    font-weight: 600;
    background: var(--bg-elements);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 5px 0px;
    cursor: pointer;
    &:hover {
      box-shadow: var(--bg-shadow) 0px 0px 5px 0px;
    }
  }
  &--items {
    display: block;
    position: absolute;
    width: 100%;
    top: 50px;
    cursor: pointer;
    padding: 10px 0;
    overflow: hidden;
    border-radius: 5px;
    background: var(--bg-elements);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 5px 0px;
    transition: opacity 0.2s, visibility 0s 0.2s;
    div {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      padding: 0 15px;
      margin-bottom: 0;
      &:hover {
        background: var(--bg-color);
      }
    }
  }
  &--arrow {
    width: 45px;
    height: 45px;
    margin: 0px;
    padding: 0px;
    align-items: center;
    display: flex;
    justify-content: center;
    background: var(--bg-elements);
    position: absolute;
    right: 0;
    top: 0;
    svg {
      font-size: 20px;
    }
  }
}
